body {
    font-family: 'Roboto Serif', serif;
    background-color: #1f2e3d;
}

header {
    background-color: blue;
}

footer {
    background-color: burlywood;
}

.row {
    text-align: center;
}

.col {
    text-align: center;
}

