body {
    font-family: 'Roboto Serif', serif;
    background-color: #0a1128;
}

header {
    background-color: #001f54;
}

footer {
    background-color: #034078;
}

#row {
    text-align: center;
}

#col {
    text-align: center;
}

.name {
    text-align: center;
    color: rgb(85, 33, 33);
}